//colors
$text-color:rgba(0,0,0,0.7);
$text-color-subtle:rgba(0,0,0,0.5);
$text-color-highlight:rgba(0,0,0,0.9);
$text-color-selected:rgba(0,0,0,1);

$menu-text-color: rgba(0,0,0,0.7);
$menu-text-color-hover:rgba(0,0,0,0.9);

$block-bg:rgb(178, 178, 178);
$light-bg:#F0F0F0;

//fonts
$font: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;